<!doctype html>
<html>
  <head>
  <title><%= class_name %> using Amber</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/dist/main.bundle.css">
  <head>
  <body>
    <div class="masthead">
      <div class="container">
        <nav class="nav">
          <%="<"%>%= render(partial: "layouts/_nav.<%= @language %>") %>
        </nav>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <%="<"%>%- flash.each do |key, value| %>
          <div class="alert alert-<%="<"%>%= key %>">
            <p><%="<"%>%= flash[key] %></p>
          </div>
        <%="<"%>%- end %>
      </div>

      <div class="row">
        <div class="col-sm-12 main">
          <%="<"%>%= content %>
        </div>
      </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/dist/main.bundle.js"></script>
  </body>
</html>
