<!doctype html>
<html>
  <head>
    <title><%= display_name %> using Amber</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/dist/main.bundle.css">
    <link rel="apple-touch-icon" href="/favicon.png">
    <link rel="icon" href="/favicon.png">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
  </head>
  <body>
    <div class="masthead">
      <div class="container">
        <nav class="nav">
          <%="<"%>%= render(partial: "layouts/_nav.ecr") %>
        </nav>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-sm">
          <%="<"%>%- flash.each do |key, value| %>
            <div class="alert alert-<%="<"%>%= key %>">
              <p><%="<"%>%= flash[key] %></p>
            </div>
          <%="<"%>%- end %>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 main">
          <%="<"%>%= content %>
        </div>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <script src="/dist/main.bundle.js"></script>
  </body>
</html>
