<%= @database %>:
<% case @database
   when "mysql" -%>
  database: mysql://root@localhost:3306/<%= "#{database_name_base}_development" %>
<% when "pg" -%>
  database: postgres://postgres:@localhost:5432/<%= "#{database_name_base}_development" %>
<% when "sqlite" -%>
  database: sqlite3:./db/<%= "#{database_name_base}_development" %>.db
<% end -%>
