require "granite/adapter/<%= @database %>"

Granite::Connections << Granite::Adapter::<%= @database.capitalize %>.new(name: "<%= @database %>", url: ENV["DATABASE_URL"]? || Amber.settings.database_url)
