require "jasper_helpers"

class ApplicationController < Launch::Controller::Base
  include JasperHelpers
  <%- if @minimal -%>
  LAYOUT = false
  <%- else -%>
  LAYOUT = "application.<%= @language %>"
  <%- end -%>
end
