name: <%= @name %>
version: 0.1.0

authors:
  - your_name <your_email>

license: MIT

dependencies:
  kemalyst:
    github: drujensen/kemalyst

  pg:
    github: will/crystal-pg

development_dependencies:
  mocks:
    github: waterlink/mocks.cr
