dist: xenial
sudo: required
language: crystal

services:
  - postgresql
  - redis-server

cache:
  directories:
    - bin
    - lib
    - .shards

env:
  - TEST_SUITE=./spec/build_spec_granite.cr
  - TEST_SUITE=./spec/amber

before-install:
  - psql -U postgres -c "ALTER USER postgres WITH PASSWORD 'password';"

script:
  - bin/ameba
  - crystal tool format --check
  - crystal spec $TEST_SUITE

notifications:
  webhooks:
    urls:
      - https://webhooks.gitter.im/e/aaf02221d4649d70b384
    on_success: change  # options: [always|never|change] default: always
    on_failure: always  # options: [always|never|change] default: always
    on_start: never     # options: [always|never|change] default: always
