<%="<"%>%- active = context.request.path == "/<%= Inflector.pluralize(@name) %>" ? "active" : "" %>
<a class="nav-item <%="<"%>%= active %>" href="/<%= Inflector.pluralize(@name) %>"><%= display_name %>s</a>
