<%="<"%>%- active = context.request.path == "/<%= name_plural %>" ? "active" : "" %>
<li class="nav-item <%="<"%>%= active %>">
  <a class="nav-link" href="/<%= name_plural %>"><%= display_name %>s</a>
</li>
