struct <%= @name.capitalize %>Socket < Amber::WebSockets::ClientSocket
  <%- @fields.each do |field| %>
    channel "<%= field.underscore %>_room:*", <%= field.capitalize %>Channel
  <%- end %>
  def on_connect
    # do some authentication here
    # return true or false, if false the socket will be closed
    true
  end
end