class <%= class_name %>Controller < ApplicationController
<%- unless @actions.empty? -%>
<%=
  actions = @actions.map do |action, verb|
    <<-ACTION
      def #{action}
        render("#{action}.#{config.language}")
      end
    ACTION
  end
  actions.join("\n\n") if actions
%>
<%- end -%>
end
