ENV["LAUNCH_ENV"] ||= "test"

require "spec"
require "micrate"
require "garnet_spec"

require "../config/application"

# Micrate::DB.connection_url = ENV["DATABASE_URL"]? || Launch.settings.database_url

# Automatically run migrations on the test database
# Micrate::Cli.run_up
