class <%= class_name %>Controller < Amber::Controller::Error
  LAYOUT = "application.<%= @language %>"

  def forbidden
    render("forbidden.<%= @language %>")
  end

  def not_found
    render("not_found.<%= @language %>")
  end

  def internal_server_error
    render("internal_server_error.<%= @language %>")
  end
end
