require "./spec_helper"
require "../../src/models/<%= @name %>.cr"

describe <%= class_name %> do
  Spec.before_each do
    Jennifer::Adapter.default_adapter.begin_transaction
  end

  Spec.after_each do
    Jennifer::Adapter.default_adapter.rollback_transaction
  end
end
