require "./spec_helper"

describe <%= class_name %>Controller do
<% @actions.each do |action, verb| -%>

  describe "<%= class_name %>Controller#<%= action %>" do
    it "renders the view" do
    end
  end
<% end %>
end
