require "./spec_helper"

describe <%= @name.camelcase %>Controller do
<% @actions.each do |action, verb| -%>

  describe "<%= @name.camelcase %>Controller#<%= action %>" do
    it "renders the view" do
    end
  end
<% end %>
end
