<html>
  <head>
    <title><%= @name %></title>
    <body>
      <table>
        <tr>
          <td align="center"><%= @name %></td>
        </tr>
        <tr>
          <td><%="<"%>%= content%></td>
        </tr>
        <tr>
          <td align="center">footer</td>
        </tr>
      </table>
    </body>
  </head>
<html>
