secret_key_base: <%= SecureRandom.urlsafe_base64(32) %>
port: 3000
name: <%= @name %>
log: "::Logger.new(STDOUT)"
log_level: "::Logger::INFO"
color: true
host: 0.0.0.0
port_reuse: false
process_count: (ENV[%(AMBER_PROCESS_COUNT)]? || 1).to_i
ssl_key_file:
ssl_cert_file:
redis_url: "redis://localhost:6379"
session:
  key: amber.session
  store: :signed_cookie
  expires: 0
secrets:
  description: Store your test secrets credentials and settings here.
<%case @database
  when "mysql" -%>
  database: mysql://root@localhost:3306/<%= @name %>_test
<%when "pg" -%>
  database: postgres://postgres:@pg:5432/<%= @name %>_test
<%when "sqlite" -%>
  database: sqlite3:./db/<%= @name %>_test.db
<%end -%>
