- if context.current_<%= @name %>
  a class="nav-item pull-right" href="/signout" Sign Out
  div.nav-item.pull-right == context.current_<%= @name %>.not_nil!.email
- else
  - active = context.request.path == "/signup" ? "active" : ""
  a class="nav-item #{active} pull-right" href="/signup" Sign Up
  - active = context.request.path == "/signin" ? "active" : ""
  a class="nav-item #{active} pull-right" href="/signin" Sign In
