class <%= class_name %> < Jennifer::Migration::Base
  def up
    # Put here any code expected to be invoked during migration
  end

  def down
    # Put here any code expected to be invoked during rollback
  end
end
