require "granite_orm/adapter/<%= @database %>"

class <%= class_name %> < Granite::ORM::Base
  adapter <%= @database %>

<% @fields.select{|f| f.reference? }.each do |field| -%>
  belongs_to :<%= field.name %>
<% end -%>

  # id : Int64 primary key is created for you
<% @fields.reject{|f| f.hidden || f.reference? }.each do |field| -%>
  field <%= field.name %> : <%= field.cr_type %>
<% end -%>
<% if @database != "sqlite" -%>
  timestamps
<% end -%>
end
