class <%= class_name %> < Granite::Base
  adapter <%= @database %>
  <%= "table_name #{table_name}" %>
<% @fields.select{|f| f.reference? }.each do |field| %>
  belongs_to :<%= field.name %>
<% end -%>

  primary id : Int64
<% @fields.reject{|f| f.hidden || f.reference? }.each do |field| -%>
  field <%= field.name %> : <%= field.cr_type %>
<% end -%>
<% if @database != "sqlite" -%>
  timestamps
<% end -%>
end
