require "kemalyst-model/adapter/pg"

class <%= @name.capitalize %> < Kemalyst::Model
  adapter pg

  # id, created_at and updated_at columns are automatically created for you.
  sql_mapping({
    name:        ["VARCHAR UNIQUE NOT NULL", String],
    description: ["TEXT", String],
  })

  validate "Length of name should be greater than 3", ->(this : <%= @name.capitalize %>) do
    if name = this.name
      return name.size > 3
    else
      return false
    end
  end
end
