require "kemalyst-model/adapter/<%= @database %>"

class <%= @name.capitalize %> < Kemalyst::Model
  adapter <%= @database %>

  # id, created_at and updated_at columns are automatically created for you.
  sql_mapping({
<% @fields.reject{|f| f.hidden }.each do |field| -%>
    <%= field.name %>: <%= field.cr_type %>,
<% end -%>
  })

end
