require "granite_orm/adapter/<%= @database %>"

class <%= @name.capitalize %> < Granite::ORM
  adapter <%= @database %>

  primary id : Int64
<% @fields.reject{|f| f.hidden }.each do |field| -%>
  field <%= field.name %> : <%= field.cr_type %>
<% end -%>
<% if @database != "sqlite" -%>
  timestamps
<% end -%>
end
