<h2 class="blog-post-title"><%= demo.name %></h2>
<p class="blog-post-meta"><%= demo.last_updated %></p>
<p>
  <a href="/demos">back</a>
  | <a href="/demos/<%= demo.id %>/edit">edit</a> |
  <a href="/demos/<%= demo.id %>?_method=delete" onclick="return confirm('Are you sure?');">delete</a>
</p>
