h1 Edit Profile

- if <%= @name %>.errors
  ul.errors
  - <%= @name %>.errors.each do |error|
    li = error.to_s

== form(action: "/profile", method: :patch) do
  == csrf_tag
  .form-group
    input.form-control type="email" name="email" placeholder="Email" value="#{<%= @name %>.email}"
  == submit("Update", class: "btn btn-success btn-sm")
  == link_to("Profile", "/profile", class: "btn btn-light btn-sm")
