$primary: #f4994b;

@import '~bootstrap/scss/bootstrap';

.main {
  padding-top: 20px;
}

.table td, .table th {
  vertical-align: middle;
}

.alert {
  margin-top: 1em;

  p {
    margin-top: 0;
    margin-bottom: 0;
  }
}

// For Navigation pulling right
.nav-item-auth {
  &.nav-item-auth-signout, &.nav-item-auth-signup {
    order: 9999;
  }

  &.nav-item-auth-profile, &.nav-item-auth-signin {
    order: 9990;
    margin-left: auto;
  }
}
