$primary: #f4994b;

@import '~bootstrap/scss/bootstrap';

.main {
  padding-top: 20px;
}

.table td, .table th {
  vertical-align: middle;
}

.alert {
  margin-top: 1em;

  p {
    margin-top: 0;
    margin-bottom: 0;
  }
}
