module <%= @name.capitalize %>Controller
  include ActionHelper
  
<% @fields.each do |field| -%>
  action <%= field.name %> do
    render "<%= @name %>/<%= field.name %>.slang", "main.slang"
  end
<% end -%>
end
