<form action="/posts" method="post">
  <%= csrf_tag %>
  <div class="form-group">
    <input class="form-control" type="text" name="title" placeholder="Title" value="hey you">
  </div>
  <div class="form-group">
    <textarea class="form-control" rows="10" name="content" placeholder="Content">out there in the cold</textarea>
  </div>
  <button class="btn btn-info btn-sm" type="submit">Submit</button>
  <a class="btn btn-light btn-sm" href="/posts">back</a>
</form>
