-- +micrate Up
CREATE TABLE <%= @name %>s (
  <%= @primary_key %>,
  <%= @fields.map{ |field| "#{field.name}#{field.reference? ? "_id" : ""} #{field.db_type}" }.join(",\n  ") %>
);
<%= create_index_for_reference_fields_sql %> 

-- +micrate Down
DROP TABLE IF EXISTS <%= @name %>s;
