registration:
  create:
    success: Welcome, your account was created successfully.
    failure: Your account could not be created.

session:
  create:
    success: You've been logged in successfully.
    failure: Your email or password was invalid.
  delete:
    success: You've been logged out successfully.

<%= @name %>:
  update:
    success: Your profile was updated successfully.
    failure: Your profile could not be updated.
